{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau produit{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}" class="btn btn-back">Revenir à la liste</a>
{% endblock %}
